<ion-header>
    <ion-navbar>
      <ion-title>FORM VALIDATION</ion-title>
    </ion-navbar>
  </ion-header>
    
    
  <ion-content padding>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
          <ion-item [ngClass]="{'error-border':!authForm.controls.username.valid && authForm.controls.username.touched}">
              <ion-label floating>Username</ion-label>
              <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
    
          <ion-item *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">
              <p>Sorry, field username is required!</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.username.hasError('pattern') && authForm.controls.username.touched">
              <p>Sorry, only small and capital letters are allowed!</p>
          </ion-item>        
          <ion-item *ngIf="authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">
              <p>Sorry, minimum username length is 5!</p>
          </ion-item>
          
          <ion-item [ngClass]="{'error-border':!authForm.controls.password.valid && authForm.controls.password.touched}">
              <ion-label floating>Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
              <p>Sorry, field password is required!</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
              <p>Sorry, minimum password length is 6!</p>
          </ion-item> 
          
          <ion-item *ngIf="authForm.controls.password.hasError('pattern') && authForm.controls.password.touched">
            <p>Sorry, characters and numbers are required </p>
        </ion-item> 
          
        

          <ion-item [ngClass]="{'error-border':!authForm.controls.age.valid && authForm.controls.age.touched}">
            <ion-label floating>Age</ion-label>
            <ion-input formControlName="age" type="numbers"></ion-input>
        </ion-item>

        <ion-item *ngIf="authForm.controls.age.hasError('required') && authForm.controls.age.touched">
            <p>Sorry, field age is required!</p>
        </ion-item>

        <ion-item *ngIf="authForm.controls.age.hasError('pattern') && authForm.controls.age.touched">
            <p>Sorry, only numbers  are allowed!</p>
        </ion-item>

        <ion-item *ngIf="authForm.controls.age.hasError('out of range') && authForm.controls.age.touched">
            <p>Sorry, only between 10 and 90 !</p>
        </ion-item>  

        <ion-item [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}">
            <ion-label floating>Email id</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">
            <p>Sorry, field email is required!</p>            
        </ion-item>

        <ion-item *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">
            <p>Sorry, email is valid!</p>
        </ion-item> 
    
          <button ion-button full color="primary" [disabled]="!authForm.valid" style="margin-top: 20px;" type="submit">Submit</button>
          <button ion-button full color="primary"  style="margin-top: 20px;" type="reset">Reset</button>        
      </form>
  </ion-content>